[Unit]
Description=Cacophony Project Thermal Video uploader
After=multi-user.target network.target

[Service]
ExecStart=/usr/bin/thermal-uploader
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
