[Unit]
Description=Cacophony Project Thermal Video uploader
After=multi-user.target network.target
ConditionPathExists=/etc/salt/minion_id

[Service]
ExecStart=/usr/bin/thermal-uploader
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
